h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5em; /* 40px/16=5em */;
  position: fixed;
  right: 540px;
  top: 87px;
}

a {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: fixed;
  right: 540px;
  top: 650px;
  font-size: xx-large;
  color: rgb(114, 58, 3);
  stroke: antiquewhite;
}
body {
  background-color: #FFE13B;
}
h2 {
  font: cursiv;
  font-size: 40px;
  position: fixed;
  left: 100px;
  top: 300px;
  color: #5e460c;
  
}

img{
  display: block;
  width: 800px;
  margin: 0 auto;
  transition: 0.3s;

}
button {
  border: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(128, 132, 78);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button {
  background-color: rgb(247, 242, 212); 
  color: black; 
  border: 2px solid #7b4213;
  position: fixed;
  left: 6px;
  
}

button:hover {
  background-color: #7b4213;
  color: white;

}


iframe {
  position: fixed;
  left: 1100px;
  top: 87px; 
}